doctype
html
	head
		title #{title}
		meta(charset="utf-8")
		link(rel="stylesheet",href="/css/index.css")
	body
		//- 导航栏
		nav.top_nav
			div.logo
				img(src="https://www.baidu.com/img/bd_logo1.png",alt="校园二手",title="logo")
		div.main
			nav.left_nav
				ul
					each item in type
						li
							a(href="#") #{item.type_title} 
			div.wrapper
				div.title
					h2 Immutable
				div.summary balalalalalall
				div.button
					a(href="http://spec.fm/podcasts/immutable") 点击查看