doctype
html
	head
		title #{ynn}
		meta(charset="utf-8")
		link(rel="stylesheet",href="/css/login.css")
	body
		form.login
			h1 #{ynn}
			input#inputUsername.formInput(type="text",required="required",placeholder="用户名")
			input#inputPassword.formInput(type="password",required="required",placeholder="密码")
			button.but(type="submit") 登录