body {
    margin: 0;
    padding: 0;
}

.top_nav {
    width: 100%;
    height: 60px;
    background-color: #32b38c;
    position: fixed;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 250px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.logo img {
    width: 240px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.main {
    position: relative;
    left: 0;
}

.left_nav {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #393836;
}

.left_nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.left_nav ul li {
    margin-bottom: 20px;
    text-align: center;
}

.left_nav ul li:hover a {
    color: blue;
}

.left_nav ul li a {
    text-decoration: none;
    color: #eee;
}

.wrapper {
    width: 800px;
    margin: 40px auto;
    position: relative;
    box-shadow: 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.title{
    color: #333;
    height: 176px;
    background: url(https://pbs.twimg.com/profile_images/635539695988924416/GlhuPzxP.png) center / cover;
}



.summary{
    color: rgba(0,0,0,.54);
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    width: 90%;
    padding: 16px;
}


.button{
    border-top: 1px solid rgba(0,0,0,.1);
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
}


h2{
    background-color: #737e8b;
    border-radius: 2px;
    color: aliceblue;
    padding: 4px;
    font-size: 16px;
    position: absolute;
    left: 15px;
    bottom: 100px;
}

a{
    color: red;
    position: relative;
    border-radius: 2px;
    padding: 0 30px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}
a:hover {
    color: blue;
}







